__pycache__/
colab/exp1/
colab/exp2/
csvs/
csvs_old/
graphs/
images/
images_old/
zold/
.venv/
colab/logs_*/
*.csv
.cursor/
docs/
logs/
Artigo 1 pgirardi/graphics/
Artigo 1 pgirardi/tables/
backups/
Artigo 1 pgirardi/cas-model2-names-short.bst
Artigo 1 pgirardi/cas-model2-names.bst
Artigo 1 pgirardi/figures/
Artigo 1 pgirardi/tables/
Artigo 1 pgirardi/graphics/
Artigo 1 pgirardi/artigo.aux
Artigo 1 pgirardi/artigo.log
Artigo 1 pgirardi/artigo.out
Artigo 1 pgirardi/artigo.synctex.gz
Artigo 1 pgirardi/artigo.pdf
Artigo 1 pgirardi/artigo.bbl
Artigo 1 pgirardi/manuscript_v1_package
Artigo 1 pgirardi/old

artigo_old/cas-model2-names-short.bst
artigo_old/cas-model2-names.bst
artigo_old/figures/
artigo_old/tables/
artigo_old/graphics/
artigo_old/artigo.aux
artigo_old/artigo.log
artigo_old/artigo.out
artigo_old/artigo.synctex.gz
artigo_old/artigo.pdf