__pycache__/
colab/exp1/
colab/exp2/
csvs/
csvs_old/
graphs/
images/
images_old/
zold/
.venv/
colab/logs_*/
*.csv
.cursor/
docs/
logs/
artigo/graphics/
artigo/tables/
backups/
artigo/cas-model2-names-short.bst
artigo/cas-model2-names.bst
artigo/figures/
artigo/artigo.aux
artigo/artigo.log
artigo/artigo.out
artigo/artigo.synctex.gz
artigo/artigo.pdf

artigo_old/cas-model2-names-short.bst
artigo_old/cas-model2-names.bst
artigo_old/figures/
artigo_old/artigo.aux
artigo_old/artigo.log
artigo_old/artigo.out
artigo_old/artigo.synctex.gz
artigo_old/artigo.pdf